//Color
$black: #000;
$gray-5: #121212;
$gray-10: #191919;
$gray-15: #232323;
$gray-20: #333;
$gray-30: #545454;
$gray-50: #757575;
$gray-70: #bababa;
$gray-80: #e0e0e0;
$gray-95: #f2f2f2;
$white: #fff;
$beige-90: #f2f1ec;
$beige-80: #e7e3da;
$beige-60: #beb59d;
$beige-50: #a99e7e;
$yellow-90: #fff7e1;
$yellow-80: #fee39a;
$yellow-70: #f7d36e;
$yellow-60: #fdc735;
$brand-yellow: #f2b203;
$green-90: #eafaf4;
$green-80: #c9f2e3;
$green-70: #84e9bd;
$brand-green-dark-mode: #84e9bd;
$brand-green: #34e0a1;
$green-40: #0fd28a;
$green-30: #00aa6c;
$green-10: #004f32;
$brand-cream: #faf1ed;
$cream-80: #dcd4d1;
//Fonr-size
$font-14: 0.875rem;
$font-18: 1.125rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-54: 3.375rem;
$font-32: 2rem;
$font-12: 0.75rem;
//Blur img
$scrimImage: blur(4px);
//Shadow 
$shadowLarge: 0 2px 54px 0 rgba(0, 0, 0, .1);
$shadowMedium: 0 2px 12px 0 rgba(0, 0, 0, .15);
$shadowSmall: 0 2px 3px 0 rgba(0, 0, 0, .15);
//font-weight
$font-weight-regular: 400;
$font-weight-medium: 700;
$font-weight-bold: 800;
$font-weight-ultra: 900;
//gutter gap
$gridGutterLarge: 24px;
$gridGutterMedium: 16px;
$gridGutterSmall: 8px;
//Margin
$gridMarginLarge: 24px;
$gridMarginMedium: 16px;
$gridMarginSmall: 8px;
//Border radius
$radiusFullRounded: 100px;
$radiusXlarge: 12px;
$radiusLarge: 8px;
$radiusMedium: 6px;
$radiusSmall: 4px;
//media Queries
$breakpointLarge: 1184px;
$breakpointMedium: 1024px;
$breakpointSmall: 768px;